/* Add modifications to the graphs here */

body {
  margin: 10px; /* Specify units for margin */
  padding: 50px; /* Specify units for padding */
}

#map {
  height: 50vh;
  width: 100%;
}

#graphContainer {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}

.graph {
  width: 30%; /* Adjust the width of your graphs */
  height: 300px;
}

.mainTitle {
  text-align: center;
  font-family: "Georgia", serif;
  font-size: 30px;
}

#selDataset{
  top: 50px;
}