/* This is to add modifications to the text */

body {
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
  }
  
  h2 {
    color: navy;
    /* just testing */
  }
  
  .mainTitle {
    background-color: blueviolet;
    font-family: 'cursive';
    /* to select by class: .name    ,to select by id: #   */
  }